<a href="https://colab.research.google.com/github/Aung505/myproject/blob/master/lab11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from datetime import datetime
import pandas as pd
import seaborn as sns

In [2]:
# Enable inline plots
%matplotlib inline
# Set plot style
sns.set(style="ticks")
# Set plots formats to save high resolution PNG
from IPython.display import set_matplotlib_formats
set_matplotlib_formats("retina")

In [3]:
pd.set_option("display.width", 70)

In [4]:
data = pd.read_csv("./SolarPrediction.csv")

In [5]:
data["UNIXTime"] = (pd
.to_datetime(data["UNIXTime"], unit="s", utc=True)
.dt.tz_convert("Pacific/Honolulu"))
data["Data"] = data["UNIXTime"].dt.date
data["Time"] = data["UNIXTime"].dt.time
data["TimeSunRise"] = (pd
.to_datetime(data["TimeSunRise"],
infer_datetime_format=True)
.dt.time)
data["TimeSunSet"] = (pd
.to_datetime(data["TimeSunSet"],
infer_datetime_format=True)
.dt.time)
data = data.rename({"Data": "Date",
"WindDirection(Degrees)": "WindDirection"},
axis=1)

In [6]:
data.dtypes

UNIXTime         datetime64[ns, Pacific/Honolulu]
Date                                       object
Time                                       object
Radiation                                 float64
Temperature                                 int64
Pressure                                  float64
Humidity                                    int64
WindDirection                             float64
Speed                                     float64
TimeSunRise                                object
TimeSunSet                                 object
dtype: object

In [7]:
data.head()

                   UNIXTime        Date      Time  ...  Speed  TimeSunRise  TimeSunSet
0 2016-09-29 23:55:26-10:00  2016-09-29  23:55:26  ...   5.62     06:13:00    18:13:00
1 2016-09-29 23:50:23-10:00  2016-09-29  23:50:23  ...   3.37     06:13:00    18:13:00
2 2016-09-29 23:45:26-10:00  2016-09-29  23:45:26  ...   3.37     06:13:00    18:13:00
3 2016-09-29 23:40:21-10:00  2016-09-29  23:40:21  ...   3.37     06:13:00    18:13:00
4 2016-09-29 23:35:24-10:00  2016-09-29  23:35:24  ...   5.62     06:13:00    18:13:00

[5 rows x 11 columns]

In [10]:
def time_to_second(t):
    return ((datetime.combine(datetime.min, t) - datetime.min)
              .total_seconds())